button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45A049;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  